<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Song List</title>
</head>
<body>
  <h1>Song List</h1>
  <a href="/">LIST</a>
  <a href="/insert">INSERT</a>
  <hr>
  <table>
    <tr>
      <th>ID</th>
      <th>제목</th>
      <th>가사</th>
    </tr>
    <%  %>
  </table>
  </body>
</html>